<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href="./base.css"> 
    </head>
    <body>
        <nav>
            <div class="nav-links" id="navLinks">
                <ul>
                    <li><a href = '#'>Logo</a></li>
                    <li><a href = "# ">Cart</a></li>
                    <li><a href="#">label</a></li>
                </ul>
            </div>
        </nav>
    </body>
    <footer>
        <h1>
            This is the footer
        </h1>
    </footer>
</html>