@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Lato:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@100;300;900&display=swap');
*{
    margin: 0 px;
    padding: 0 px;
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    background: #FFFEF9;
}

#Title a{
    font-family: 'Gaegu', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #8DAC9B;
    text-decoration: none;
}
#navIcon{
    width: 25px;
    height: 25px;
}
nav{
    display: flex;
    padding-left: 0%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background: #DCE9E2;
    position: fixed;
    z-index: 2;
}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
    padding-right: 15px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-family: 'Gaegu', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    color: #8DAC9B;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Gaegu', cursive;
    font-weight: 300;
    align-items: flex-end;

}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: rgba(141, 172, 155, 0.75);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.search-container {
    float: right;
}
.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-left: 400px;
    font-size: 17px;
    border: none;
    font-family: 'Gaegu', cursive;
    width: 500px;
}
.search {
    border-radius: 20px;
    height: 35px;
    width: 100%;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.5);
}
.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background: none;
}

.heading{
    margin-top: 1%;
    margin-left: 10%;
    font-family: 'Gaegu', cursive;
    font-size: 40px;
    font-weight: bold;
}
#banner{
    width: 100%;
    height: 45vh;
    object-fit: cover;
}
#info{
    margin-bottom: 0.5%;
    margin-left: 10%;
    font-family: 'Lato';
    font-size: 15px;
}
.tab-container{
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1);
    position: sticky;
    top: 100px;
    background-color: #FFFEF9;
    z-index: 2;
}
.tabLinks{
    margin-left: 9.5%;
    padding-bottom: 10px;
}
/* Style the buttons */
.tab {
    border: none;
    outline: none;
    padding-right: 2%;
    background-color:#FFFEF9;
    cursor: pointer;
    font-family: 'Gaegu', cursive;
    font-style: normal;
    font-size: 22px;
}
.tab::after{
    content:'';
    width: 0%;
    height: 2px;
    background: rgb(141, 172, 155, 0.75);
    display: block;
    margin: auto;
    transition: 0.5s;
}

/* Style the active class (and buttons on mouse-over) */
.tab:hover::after {
    width: 100%;
}
.active::after{
    width: auto;
}
.container{
    width: 100%;
    height:50%;
    display: flex;
    margin-left: 5%;
}

.subheading{
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 10%;
    font-family: 'Gaegu', cursive;
    font-size: 30px;
    font-weight: bold;
}
#sustain{
    padding-top: 25px;
    padding-left: 33px;
    color: white;
}
.subheading-container{
    background-image: url('pics/long_leaf.png');
    width: 270px;
    height: 90px;
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 7%;

}
.block-container{
    display: inline-flex;
    margin-left: 10%;
    margin-bottom: 2%;
}
.block {
    display: inline-block;
    width: 400px;
    height: 100px;
    background-color: #f0ece0;
    border-radius: 30px;
    margin-right: 2.5%;
}
.lastBlock{
    display: inline-block;
    width: 400px;
    height: 100;
    background-color: #f0ece0;
    border-radius: 30px;
}

.food{
    font-family: 'Gaegu', cursive;
    font-size: 22px;
    margin-top: 3%;
    margin-left: 10%;
    text-align: left;
}

.price{
    margin-top: 0;
    margin-left: 10%;
    margin-bottom: 3%;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: grey;
    text-align: left;
}

.block img {
    width: 100px;
    height: 100px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
    float: right;
}

.lastBlock img {
    width: 100px;
    height: 100px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
    float: right;
}

#menuNavBar {
    list-style-type: none;
    margin-left: 10%;
    width: 200px;
    background: #FFFEF9;
  }
  
.menu-items li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Lato';
}
  
  /* Change the link color on hover */
.menu-items li a:hover {
    background-color: #8DAC9B;
    color: white;
}

#sus{
    margin-left: 15%;
}
.sus-container{
    display: flex;
}
.metrics{
    margin-left: 5%;
    width: 45%;
}
.sus-metric{
    float: right;
}
.sus-metric .checked{
    color:#8dac9b;
}
.metric-container{
    display: right;
    margin-right: 10%;
}
.score-container{
    width: 510px;
    height: 400px;
    float: right;
    background-image: url('pics/score.png');
    height: 50%;
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#susScore{
    font-family: 'Gaegu';
    font-weight: bolder;
    font-size: 100px;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-right: 40px;
}
.distance-container{
    display: flex;
}
.packaging-container{
    display: flex;
}
.sourcing-container{
    display: flex;
}
.leftovers-container{
    display: flex;
}

#about{
    margin-left: 15%;
}
#reviews{
    margin-left: 15%;
    display: flex;
}
.head3{
    margin-left: 10%;
    font-family: 'Gaegu';
    font-size: 24px;
}

p{
    margin-left: 15%;
    font-family: 'Lato';
    font-size: 18px;
}
#rating{
    margin-left: 10%;
    margin-bottom: 1%;
}
#rating .checked {
    color: orange;
}
#ratePeople{
    font-family: 'Lato';
    font-size: '15px';
    display: inline-block;
    margin-left: 1%;
}
#coins{
    font-family: 'Gaegu';
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding-left: 17px;
    padding-top: -5px;
}
.small{
    background-image: url('pics/small_pile.png');
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: -3%;
}
.medium{
    background-image: url('pics/medium_pile.png');
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: -3%;
    background-position: -5mm;
}
.large{
    background-image: url('pics/large_pile.png');
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: -3%;
}

.review-container{
    margin-left: 6%;
    background-image: url('pics/leaf_frame.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 400px;
}
.last-review-container{
    margin-left: 1%;
    background-image: url('pics/leaf_frame.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 400px;
}
.person{
    font-family: 'Gaegu';
    font-size: 30px;
    align-self: center;
    padding-top: 40px;
    padding-left: 150px;
}
.comment{
    font-family: 'Lato';
    font-size: 15px;
    align-self: center;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(42, 73, 57);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-family: 'Lato';
    font-size: 14px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }