@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Lato:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@100;300;900&display=swap');
*{
    margin: 0 px;
    padding: 0 px;
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    background: #FFFEF9;
}

#Title a{
    font-family: 'Gaegu', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #8DAC9B;
    text-decoration: none;
}
#navIcon{
    width: 25px;
    height: 25px;
}
nav{
    display: flex;
    padding-left: 0%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background: #DCE9E2;
}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
    padding-right: 15px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-family: 'Gaegu', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    color: #8DAC9B;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Gaegu', cursive;
    font-weight: 300;
    align-items: flex-end;

}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: rgba(141, 172, 155, 0.75);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.search-container {
    float: right;
}
.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-left: 400px;
    font-size: 17px;
    border: none;
    font-family: 'Gaegu', cursive;
    width: 500px;
}
.search {
    border-radius: 20px;
    height: 35px;
    width: 100%;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.5);
}
.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background: none;
}

.heading{
    margin-top: 1%;
    margin-left: 10%;
    font-family: 'Gaegu', cursive;
    font-size: 40px;
    font-weight: bold;
}
#banner{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}
#info{
    margin-bottom: 0.5%;
    margin-left: 10%;
    font-family: 'Lato';
    font-size: 15px;
}

#tabLinks{
    margin-left: 9.5%;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.1);
}
/* Style the buttons */
.tab {
    border: none;
    outline: none;
    padding-right: 2%;
    background-color:#FFFEF9;
    cursor: pointer;
    font-family: 'Gaegu', cursive;
    font-style: normal;
    font-size: 22px;
}
.tab::after{
    content:'';
    width: 0%;
    height: 2px;
    background: rgb(141, 172, 155, 0.75);
    display: block;
    margin: auto;
    transition: 0.5s;
}

/* Style the active class (and buttons on mouse-over) */
.tab:hover::after {
    width: 100%;
}
.active::after{
    width: auto;
}

.container{
    width: 100%;
    height:50%;
    display: flex;
    margin-left: 5%;
}

.subheading{
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 10%;
    font-family: 'Gaegu', cursive;
    font-size: 30px;
    font-weight: bold;
}
.block-container{
    display: inline-flex;
    margin-left: 10%;
}
.block {
    display: inline-block;
    width: 400px;
    height: 235px;
    background-color: #f0ece0;
    border-radius: 30px;
    margin-right: 2.5%;
}
.lastBlock{
    display: inline-block;
    width: 400px;
    height: 235px;
    background-color: #f0ece0;
    border-radius: 30px;
}

.food{
    font-family: 'Gaegu', cursive;
    font-size: 22px;
    margin-top: 3%;
    margin-left: 10%;
    text-align: left;
}

.price{
    margin-top: 0;
    margin-left: 10%;
    margin-bottom: 3%;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: grey;
    text-align: left;
}

.block img {
    width: 400px;
    height: 150px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
}

.lastBlock img {
    width: 400px;
    height: 150px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
}

#menuNavBar {
    list-style-type: none;
    margin-left: 10%;
    /* padding: 0; */
    width: 200px;
  }
  
  .menu-items li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Lato';

  }
  
  /* Change the link color on hover */
  .menu-items li a:hover {
    background-color: #8DAC9B;
    color: white;
  }

  #sus{
    margin-left: 15%;
  }
  #about{
    margin-left: 15%;
  }
  #reviews{
    margin-left: 15%;
  }
  .head3{
    margin-left: 10%;
    font-family: 'Gaegu';
    font-size: 24px;
  }
  p{
    margin-left: 15%;
    font-family: 'Lato';
    font-size: 18px;
  }
  #rating{
    margin-left: 10%;
    margin-bottom: 1%;
  }
  .checked {
    color: orange;
  }
  #ratePeople{
    font-family: 'Lato';
    font-size: '15px';
    display: inline-block;
    margin-left: 1%;
  }
  
  /* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }